img
    width: 100%
    height: 100%
    object-fit: contain

video 
    width: 100%
    height: 100%
    object-fit: contain
    
.about 
    width: 100vw
    position: relative
    min-height: 100vh
    height: unset
    overflow: hidden
    background-color: g.$bg

    .wrapper-container 
        width: 100%
        height: 100vh
        display: flex
        justify-content: center

        .content-mb
            position: relative
            width: min(88.5vh, 120vw)
            min-height: 100vh
            height: min(56.25vh, 100vw)
            // height: min(56.25vh, 100vh)
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center
            overflow: hidden
                    
            @media screen and (max-width: 720px), screen and (orientation: portrait)
                .center-container
                    position: relative
                    width: min(64.625vh, 90vw)
                    height: min(93.938vh, 167vw)
                    z-index: 2
                    
                .title-about 
                    width: min(54vh, 96vw)
                    height: min(28.406vh, 50.5vw)
                    line-height: 1
                    letter-spacing: -1.109%
                    margin: 0
                    text-transform: uppercase
                    margin-block-start: 3.2em
                    font-family: "Playfair Display", serif

                    .title-about-1
                        color: g.$lime
                        font-size: min(8.662vh, 15.4vw)
                    .title-about-2
                        font-size: min(8.662vh, 15.4vw)
                    .title-about-3
                        font-size: min(8.494vh, 15.1vw)

                .wraper-flex 
                    display: flex
                    width: 100%
                    height: min(48.881vh, 86.9vw)
                    margin-block-start: 0.6em
                    flex-direction: column
                    position: relative

                    .wraper-desc
                        flex: 1
                        width: 100%

                        .title-desc 
                            font-size: min(7.087vh, 12.6vw)
                            font-weight: 700
                            line-height: 0.9em

                        .desc-wrapper 
                            width: min(53.888vh, 95.8vw)
                            height: min(37.069vh, 65.9vw)
                            
                            .resume-btn 
                                width: min(26.437vh, 47vw)
                                height: min(5.625vh, 10vw)
                                margin-block-start: 1.4em
                                display: inline-flex
                                align-items: center
                                justify-content: center
                                gap: 2vw
                                padding: 2.7%
                                background: g.$paper
                                color: g.$bg
                                text-decoration: none
                                border-radius: 1.1vw
                                font-size: min(2.025vh, 3.6vw)
                                font-weight: 600
                                transition: 0.3s ease

                                &:hover
                                    filter: brightness(0.9)
                                    transform: translateY(-2px)

                        .desc-about
                            font-size: min(3.043vh, 5.41vw)
                            letter-spacing: 0.03em
                            margin-block-start: 2.1em
                            width: 90%

                        .arrow_bottom
                            width: 36.3vw
                            height: 35.3vw

                    .wraper-image 
                        flex: 1
                        display: flex
                        justify-content: center
                        position: absolute
                        z-index: 2
                        // display: none

                        .image
                            width: min(67.556vh, 38vw)
                            height: min(67.556vh, 38vw)
        
        .content-pc
            position: relative
            width: 100vw
            min-height: 100vh
            height: min(39.487vh, 70.2vw)
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center

            .center-container
                position: relative
                width: min(158.222vh, 89vw)
                height: min(92.444vh, 52vw)
                z-index: 2
                    
                .title-about 
                    font-size: min(13.074vh, 7.354vw)
                    line-height: 1
                    letter-spacing: -1.109%
                    margin: 0
                    text-transform: uppercase
                    margin-block-start: 0.3em
                    font-family: "Playfair Display", serif

                    .title-about-1
                        color: g.$lime

                .wraper-flex 
                    display: flex
                    width: 100%
                    height: min(67.556vh, 38vw)
                    margin-block-start: 3.5%

                    .wraper-desc
                        flex: 1

                        .title-desc 
                            font-size: min(10.667vh, 6vw)
                            font-weight: 700
                            line-height: 0.9em

                        .desc-wrapper
                            margin-block-start: 2.1em

                            .resume-btn 
                                width: min(34.667vh, 19.5vw)
                                height: min(7.467vh, 4.2vw)
                                display: inline-flex
                                align-items: center
                                justify-content: center
                                gap: 2vw
                                padding: 2.7%

                                background: g.$paper
                                color: g.$bg
                                text-decoration: none
                                border-radius: 1.1vw
                                font-size: min(2.311vh, 1.3vw)
                                font-weight: 600
                                transition: 0.3s ease

                                &:hover
                                    filter: brightness(0.9)
                                    transform: translateY(-2px)

                            .desc-about
                                font-size: min(3.378vh, 1.9vw)
                                letter-spacing: 0.03em
                                margin-block-start: 1em
                                width: 90%


                    .wraper-image 
                        flex: 1
                        display: flex
                        justify-content: center

                        .image
                            width: min(67.556vh, 38vw)
                            height: min(67.556vh, 38vw)

        
            