img
    width: 100%
    height: 100%
    object-fit: contain

video 
    width: 100%
    height: 100%
    object-fit: cover

.hero 
    width: 100vw
    position: relative
    min-height: 100vh
    height: unset
    overflow: hidden

    .wrapper-container 
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        
        .content-mb
            position: relative
            width: min(88.5vh, 120vw)
            min-height: 100vh
            height: min(56.25vh, 100vw)
            // height: min(56.25vh, 100vh)
            display: flex
            justify-content: center
            flex-direction: column
            overflow: hidden
            
            @media screen and (max-width: 720px), screen and (orientation: portrait)
                .container-video 
                    position: absolute
                    width: min(239.063vh, 425vw)
                    height: min(154.688vh, 275vw)
                    z-index: 1


                .center-container
                    position: relative
                    // width: 100%
                    // height: 100%
                    width: min(64.625vh, 90vw)
                    height: min(93.938vh, 167vw)
                    z-index: 2
                    margin: 0 auto

                    .hero-kicker
                        font-family: "DM Mono", monospace
                        font-size: min(1.941vh, 3.45vw)
                        display: flex
                        align-items: center
                        gap: 4%
                        color: #bbb
                        letter-spacing: 0.1em
                        margin-block-start: 5.8em

                        span 
                            width: 7px
                            height: 7px
                            border-radius: 50%
                            background: g.$lime
                            box-shadow: 0 0 15px g.$lime

                    .hero-title 
                        margin-block-start: 0.2em
                        margin-block-end: 0.1em
                        width: 100%
                        height: min(38.25vh, 68vw)

                        .title-1 
                            display: block
                            line-height: 0.91em
                            letter-spacing: 0.003em
                            font-size: min(8.662vh, 15.4vw)
                            letter-spacing: 0.1em
                            transform: translate(0px, 0px)
                            margin-block-start: 0.5em
                            text-transform: uppercase
                            font-family: "Playfair Display", serif
                        
                        .title-2 
                            display: block
                            font-weight: 500
                            word-spacing: 0.2em
                            letter-spacing: 0.05em
                            // margin-inline-start: 0.8em
                            margin-block-start: 0.4em
                            letter-spacing: -0.02em
                            font-size: min(6.019vh, 10.7vw)
                            font-family: "Playfair Display", serif
                            
                        .title-3  
                            display: block
                            color: g.$lime
                            font-size: min(8.662vh, 15.4vw)
                            text-transform: capitalize
                            font-family: "Playfair Display", serif
                            letter-spacing: 0.020em
                            margin-block-start: -0.20em

                    .hero-bottom 
                        width: min(51.3vh, 91.2vw)
                        height: min(50.8vw, 50.8vw)
                        margin-block-start: -1.5em
                        // height: min(37.125vh, 66vw)
                        
                        .hero-copy 
                            color: #8f8f8f
                            font-size: min(2.362vh, 4.2vw)
                            line-height: 1.7
                            width: 100%
                            height: unset
                            margin: 0
                            // max-width: 440px
                            margin-block-start: 3.3em
                        
                        

        // PC

        .content-pc
            position: relative
            width: 100vw
            min-height: 100%
            height: min(39.487vh, 70.2vw)
            display: flex
            justify-content: center
            flex-direction: column
            align-items: center

            .container-video 
                position: absolute
                width: 196vw
                height: 98vw
                // width: min(213.333vh, 120vw)
                // height: min(174.222vh, 98vw)
                z-index: 1

            .center-container
                position: relative
                width: min(158.222vh, 89vw)
                height: min(110.222vh, 62vw)
                z-index: 2

                .hero-kicker
                    font-family: "DM Mono", monospace
                    font-size: min(2.311vh, 1.3vw)
                    display: flex
                    align-items: center
                    gap: 4%
                    color: #bbb
                    letter-spacing: 0.1em
                    margin-block-start: 7.3em

                    span 
                        width: 7px
                        height: 7px
                        border-radius: 50%
                        background: g.$lime
                        box-shadow: 0 0 15px g.$lime

                .hero-title 
                    margin-block-start: 0.2em
                    margin-block-end: 0.1em
                    width: 100%
                    // height: min(38.25vh, 68vw)

                    .title-1 
                        display: block
                        font-family: "Playfair Display", serif
                        line-height: 0.91em
                        text-transform: uppercase
                        letter-spacing: -0.004em
                        font-size: min(11.378vh, 6.4vw)
                        margin-block-start: 0.3em
                    
                    .title-2 
                        display: block
                        font-family: "Playfair Display", serif
                        font-weight: 500
                        word-spacing: 0.2em
                        margin-inline-start: 0.8em
                        margin-block-start: 0.04em
                        letter-spacing: -3.3%
                        font-size: min(10.667vh, 6vw)
                        
                    .title-3  
                        display: block
                        font-family: "Playfair Display", serif
                        color: g.$lime
                        font-size: min(11.378vh, 6.4vw)
                        margin-block-start: -0.465em
                        text-transform: capitalize

                .hero-bottom 
                    width: 100%
                    display: flex
                    // align-items: end
                    flex-direction: column
                    gap: 10%
                    height: min(26.667vh, 15vw)
                    
                    .hero-copy 
                        color: #8f8f8f
                        line-height: 1.7
                        width: min(97.778vh, 55vw)
                        height: unset
                        margin: 0
                        // max-width: 440px
                        font-size: min(2.667vh, 1.5vw)



    .wave-hero
        fill: #f1eee7
        bottom: -10%