.nav 
  position: fixed
  height: 84px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 5vw
  top: 0
  left: 0
  width: 100%
  z-index: 1000
  z-index: 10
  width: 100%
  justify-content: center

.brand 
  font-size: min(5.156vh, 2.9vw)
  font-weight: 800
  letter-spacing: 0.1em
  color: #fff
  text-decoration: none

.brand span 
  font-size: min(3.911vh, 2.2vw)
  vertical-align: top
  margin-left: 2px
  
@media screen and (max-width: 720px), screen and (orientation: portrait)
.nav 
  position: fixed
  height: 84px
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 5vw
  top: 0
  left: 0
  width: 100%
  z-index: 1000
  z-index: 10
  width: 100%
  justify-content: center

.brand 
  font-size: min(2.869vh, 5.1vw)
  font-weight: 800
  letter-spacing: 0.1em
  color: #fff
  text-decoration: none

.brand span 
  font-size: min(2.7vh, 4.8vw)
  vertical-align: top
  margin-left: 2px



