* 
  box-sizing: border-box

html 
  scroll-behavior: smooth

body 
  margin: 0
  background: g.$bg
  color: #fff
  font-family: Manrope, sans-serif
  overflow-x: hidden

.section 
  // padding: 5%
  position: relative